[if-header="fixed-full"] {
  position: fixed;
  top: 0;
  width: 100%;
}
[if-header="sticky-full"] {
  position: sticky;
  top: 0;
  width: 100%;
}
[if-sidebar="fixed-wide"] {
  position: fixed;
  top: 0;
  width: 16rem;
  height: 100vh;
  overflow-y: auto;
}
[if-icon] {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
[if-icon="square"] { background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='16' height='16' rx='4' fill='currentColor'/%3E%3C/svg%3E") }

.code {
  overflow: auto;
}